@model Modelo.Tabelas.Categoria

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Categoria</h4>
        <hr />
        @Html.Partial("~/Views/Categorias/_PartialDetailsContentPanel.cshtml", Model)
        <p>
            @Html.ActionLink("Alterar", "Edit", new { id = Model.CategoriaID }) |
            @Html.ActionLink("Retornar para a listagem", "Index")
        </p>
    </div>
</body>
</html>
